@using System.Globalization
@using BierAlyzer.Contracts.Model
@using Microsoft.AspNetCore.Html
@model BierAlyzer.Web.Models.Management.ManageUsersModel

@{
    ViewData["Title"] = "Management - Benutzer bearbeiten";
}

@section Scripts
{
    <script type="text/javascript">
        function searchUser() {
            var accordions = $(".accordion");
            var searchString = $("#searchBar").val();

            for(var i = 0; i <= accordions.length; i++) {
                if(accordions[i]) {
                    if (accordions[i].outerHTML.toLowerCase().includes(searchString.toLowerCase())) {
                        $(accordions[i]).show();
                    } else {
                        $(accordions[i]).hide();
                    }
                }
            }
        }
    </script>
}

<div style="margin-bottom: 15px;">@Model.Users.Count registrierte Trinker</div>

<div class="form-group">
    <input class="form-control" placeholder="Benutzer suchen..." id="searchBar" onkeyup="javascript: searchUser();"/>
</div>

@foreach (var user in Model.Users)
{
    var borderColor = "#545454";
    var bgColor = "inherited";
    var userNamePrefix = HtmlString.Empty;
    if (!user.Enabled)
    {
        borderColor = "#700000";
        bgColor = "#700000";
    }
    if (user.Type == UserType.Admin)
    {
        userNamePrefix = new HtmlString("<i class=\"fas fa-user-shield\" style=\"color: #FF0\"></i> ");
    }


    <div class="accordion" style="margin-top: 15px;">
        <div class="card" style="border-color: @borderColor;">
            <div class="card-header collapsed" style="background-color: @bgColor;" data-toggle="collapse" data-target="#userAccordion@(user.UserId)" aria-expanded="false" aria-controls="userAccordion@(user.UserId)">
                <div class="row">
                    <div class="col-9" style="margin-top: auto; margin-bottom: auto;">
                        <div><i class="fas fa-caret-down"></i> @userNamePrefix<strong>@user.Username</strong> (@user.Type)</div>
                        <div style="font-size: .9rem;">@user.Mail</div>
                        <div style="font-size: .9rem;">@user.Origin</div>
                    </div>
                    <div class="col-3 text-right">
                        <div>
                            <a class="btn btn-sm btn-default" style="color: #000; width: 100%;" asp-action="User" asp-route-id="@user.UserId">
                                <i class="fas fa-edit"></i>
                            </a>
                        </div>
                        @if (user.Type != UserType.Admin)
                        {
                            <div>
                                <a class="btn btn-sm btn-default" style="width: 100%; color: #000;" asp-action="ToggleUserEnabled" asp-route-id="@user.UserId">
                                    @if (user.Enabled)
                                    {
                                        <i class="fas fa-lock-open" style="color: green;"></i>
                                    }
                                    else
                                    {
                                        <i class="fas fa-lock" style="color: red;"></i>
                                    }
                                </a>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div id="userAccordion@(user.UserId)" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body" style="padding: 15px 15px 15px 15px;">
                    <div class="row">
                        <div class="col-12">
                            <strong>Registriert</strong>: @user.Created.ToString("dd.MM.yyyy - HH:mm")
                        </div>
                        <div class="col-12">
                            <strong>Zuletzt eingeloggt</strong>: @user.LastLogin.ToString("dd.MM.yyyy - HH:mm")
                        </div>
                        <div class="col-12">
                            <strong>Events</strong>: @user.UserEvents.Count
                        </div>
                        <div class="col-12">
                            <strong>Gebucht</strong>: @user.DrinkEntries.Count Getränke
                        </div>
                        <div class="col-12">
                            <strong>Getrunken</strong>: @user.ConsumedLiters.ToString("F2", CultureInfo.InvariantCulture).Replace(".", ",") Liter
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}