@using Contracts.Model
@model BierAlyzerWeb.Models.Management.ManageEventsModel

@{
    ViewData["Title"] = "Management - Events bearbeiten";
}

@section Style
{
    <style type="text/css">
        .col-status {
            -ms-flex: 0 0 10px;
            -webkit-flex: 0 0 10px;
            -o-flex: 0 0 10px;
            flex: 0 0 10px;
            padding: 0;
        }
    </style>
}

<div class="text-center">
    <button type="button" class="btn btn-sm btn-default" data-toggle="modal" data-target="#createEventModal" style="margin-bottom: 5px;" title="Event erstellen">
        <i class="fas fa-plus"></i> Erstellen
    </button>
</div>

@foreach (var e in Model.Events)
{
    var statusColor = "red";
    if (e.Status == EventStatus.Open)
    {
        statusColor = "green";
    }

    var typeColor = "red";
    if (e.Type == EventType.Public)
    {
        typeColor = "green";
    }

    <div class="accordion" style="margin-top: 15px;">
        <div class="card">
            <div class="card-header collapsed" data-toggle="collapse" data-target="#eventAccordion@(e.EventId)" aria-expanded="false" aria-controls="eventAccordion@(e.EventId)">
                <div class="row" style="padding: 0 10px;">
                    <div class="col col-status" style="background-color: @typeColor;"></div>
                    <div class="col col-status" style="background-color: @statusColor;"></div>
                    <div class="col">
                        <div class="row">
                            <div class="col-9">
                                <div><i class="fas fa-caret-down"></i> @e.Name</div>
                                <div style="font-size: .9rem;">@e.EventUsers.Count Trinker</div>
                            </div>
                            <div class="col-3 text-right" style="padding-right: 0;">
                                @if (e.Type == EventType.Public)
                                {
                                    <a class="btn btn-sm btn-default" asp-action="SetEventType" asp-route-id="@e.EventId#@EventType.Private">
                                        <i class="fas fa-eye" style="color: green;"></i>
                                    </a>
                                }
                                else if (e.Type == EventType.Private)
                                {
                                    <a class="btn btn-sm btn-default" asp-action="SetEventType" asp-route-id="@e.EventId#@EventType.Public">
                                        <i class="fas fa-eye" style="color: red;"></i>
                                    </a>
                                }
                                <a class="btn btn-sm btn-default" style="color: #000;" asp-action="Event" asp-route-id="@e.EventId">
                                    <i class="fas fa-edit"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div id="eventAccordion@(e.EventId)" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body" style="padding: 15px 15px 15px 15px;">
                    <div class="row">
                        <div class="col-12">
                            <strong>Start</strong>: @e.Start.ToString("dd.MM.yyyy - HH:mm")
                        </div>
                        <div class="col-12">
                            <strong>Ende</strong>: @e.End.ToString("dd.MM.yyyy - HH:mm")
                        </div>
                        <div class="col-12">
                            <strong>Code</strong>: @e.Code
                        </div>
                        <div class="col-12">
                            <strong>Status</strong>: @e.Status
                        </div>
                        <div class="col-12">
                            <strong>Typ</strong>: @e.Type
                        </div>
                        <div class="col-12">
                            <strong>Besitzer</strong>: @e.Owner.Username
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div class="modal fade" id="createEventModal" tabindex="-1" role="dialog" aria-labelledby="createEventModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Event erstellen</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form asp-action="Events">
                <div class="modal-body">
                    <div class="form-group">
                        <input asp-for="EventName" class="form-control" placeholder="Name" style="width: 100%;" />
                        <span asp-validation-for="EventName" class="text-danger"></span>
                    </div>
                    <div class="form-group" style="margin-top: 10px;">
                        <textarea asp-for="EventDescription" class="form-control" placeholder="Beschreibung" style="width: 100%;"></textarea>
                    </div>
                    <div class="form-group">
                        <label asp-for="EventStart" class="bmd-label-static" style="margin-bottom: 0;">Start</label>
                        <input asp-for="EventStart" class="form-control" style="width: 100%;" />
                        <span asp-validation-for="EventStart" class="text-danger"></span></d>
                    </div>
                    <div class="form-group">
                        <label asp-for="EventEnd" class="bmd-label-static" style="margin-bottom: 0;">Ende</label>
                        <input asp-for="EventEnd" class="form-control" style="width: 100%;" />
                        <span asp-validation-for="EventEnd" class="text-danger"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-default">Erstellen</button>
                </div>
            </form>
        </div>
    </div>
</div>
