@using BierAlyzerWeb.Helper
@using Contracts.Model
@using Microsoft.AspNetCore.Http
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BierAlyzerWeb - @ViewData["Title"]</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />*@
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />*@
    @*<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.11/css/all.css" integrity="sha384-p2jx59pefphTFIpeqCcISO9MdVfIm4pNnsL08A6v5vaQc4owkQqxMV8kg4Yvhaw/" crossorigin="anonymous" />*@
    @*<link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">*@
    <link rel="stylesheet" href="~/css/bieralyzer.min.css" />
    @RenderSection("Style", required: false)
    @*<environment include="Development">

        </environment>
        <environment exclude="Development">
            <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
                  asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
                  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
            <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        </environment>*@
</head>
<body>

    <div class="container-fluid" style="text-align: center;">
        <a asp-route="events">
            <img src="~/images/Logo.png" alt="ASP.NET" class="img-responsive" style="width: 100%; max-width: 400px; margin: 5px 0 20px 0;" />
        </a>
    </div>

    <div class="d-none d-md-block text-center" style="font-size: .6em; margin: 0 250px 10px 250px">Der BierAlyzer Online wurde speziell für mobile Endgeräte entwickelt.</div>


    <div class="container body-content">
        @if (Context.CheckUserType(UserType.Admin))
        {
            @Html.Partial("_AdminMenu", Context.GetUser())
        }
        @if (Context.IsSignedIn())
        {
            @Html.Partial("_Menu");
        }

        @RenderBody()
        <hr />
        <footer>
            <p>
                &copy; 2018 - BierAlyzer Online
                @if (ViewContext.View.Path.ToLower().Contains("signup"))
                {
                    <br />
                    <a asp-route="login">Zum Login</a>
                }
            </p>
        </footer>
    </div>

    @*<script src="~/js/global/jquery-3.3.1.slim.min.js"></script>
    <script src="~/js/global/popper-1.14.3.min.js"></script>
    <script src="~/js/global/bootstrap-4.0.0.min.js"></script>*@
    @*<script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>
    <script>$(document).ready(function () { $('body').bootstrapMaterialDesign(); });</script>*@
    <script src="~/js/bieralyzer.min.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
